node_modules/
.DS_Store
*.log
.idea/
android/.idea/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# iOS
ios/App/Pods/
ios/App/build/

# Firebase iOS
ios/App/App/GoogleService-Info.plist
firebase-service-account.json

# Keystore
*.keystore
*.jks
